<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>887300240024-b4pk2h44js383v7d7b6icaqce86shl6i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.887300240024-b4pk2h44js383v7d7b6icaqce86shl6i</string>
	<key>API_KEY</key>
	<string>AIzaSyBOzj5fW2y-fVQjDwHSIZcPCfZXz_WotMc</string>
	<key>GCM_SENDER_ID</key>
	<string>887300240024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialmediaBloc</string>
	<key>PROJECT_ID</key>
	<string>socialmediabloc</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmediabloc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887300240024:ios:4dd03f904fb1a15316d6ed</string>
</dict>
</plist>